AZURE_DEPLOYMENT = <boolean>

LLM_API_KEY = <your-llm-api-key>
LLM_API_ENDPOINT = <your-llm-api-endpoint>
DEPLOYMENT_NAME = <your-model-name>
API_VERSION = <your-azure-openai-version>

SEARCH_ENDPOINT = <your-search-endpoint>
INDEX_NAME = <your-search-index-name>
API_KEY = <your-search-api-key>

# For non azure deployment only
HOST = <local-host>
PORT = <deployment-port>
